:root {
    --main-bg-color:#f9f9f9;
    --main-white:#fff;
    --main-light-blue:#15A9CB;
    --main-dark:#383A4C;
    --main-advantage-bg:#23C7EC;
    --main-styled-text:#4A76A8;
    --main-footer-bg-light:#2F324B;
    --main-footer-bg-dark:#2A2C3F;
}
