.questions_bg {
    background-image: linear-gradient(#2F324BD9, #2F324BD9), url('../../assets/img/questions-bg-s.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.questions {
    padding-top: 30px;
    padding-bottom: 30px;
}

.questions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--main-white);
    text-align: center;
    margin-bottom: 10px;
}

.questions__desctiption {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--main-white);
    opacity: 0.8;
    text-align: center;
    margin-bottom: 35px;
}

.form {
    margin-bottom: 45px;
}

.form__input {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--main-white);
    outline: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    width: 100%;
    color: var(--main-white);
}

.form__input:not(:last-child) {
    margin-bottom: 15px;
}

input::placeholder {
    color: var(--main-white);
    opacity: 0.5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.agreement-text {
    font-size: 11px;
    line-height: 13px;
    color: var(--main-white);
    text-align: center;
}

.text-styled {
    color: var(--main-styled-text);
    position: relative;
}

.text-styled::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-styled-text);
}

.callback-btn {
    font-size: 16px;
    line-height: 19px;
    background-color: var(--main-light-blue);
    box-shadow: 0px 2.69725px 16.8578px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    border: none;
    outline: none;
    color: var(--main-white);
    width: 174px;
    height: 38px;
    margin-bottom: 30px;
}

@media (min-width:768px) {
    .questions_bg {
        background-image: linear-gradient(#2F324BD9, #2F324BD9), url('../../assets/img/questions-bg-m.jpg');
    }
}

@media (min-width:1000px) {
    .questions_bg {
        background-image: linear-gradient(#2F324BD9, #2F324BD9), url('../../assets/img/questions-bg-m.jpg');
    }
    .questions {
        padding-top: 70px;
        padding-bottom: 56px;
    }
    .question__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 16px;
    }
    .questions__desctiption {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 50px;
    }
    input::placeholder {
        font-size: 20px;
        line-height: 23px;
    }
    .form__input:not(:last-child) {
        margin-bottom: 20px;
    }
    .form__input {
        width: 377px;
        padding-left: 23px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .callback-btn {
        font-size: 20px;
        line-height: 23px;
        width: 218px;
        height: 48px;
        text-transform: lowercase;
    }
    .agreement-text {
        font-size: 17px;
        line-height: 20px;
    }
}

@media (min-width:1250px) {
    .questions_bg {
        background-image: linear-gradient(#2F324BD9, #2F324BD9), url('../../assets/img/questions-bg-l.jpg');
    }
    .questions {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .question__title {
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 17px;
        padding-right: 23px;
    }
    .questions__desctiption {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 50px;
    }
    .form__input {
        width: 423px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
    }
    .form__input:not(:last-child) {
        margin-bottom: 20px;
    }
    input::placeholder {
        font-size: 22px;
        line-height: 26px;
    }
    .callback-btn {
        margin-bottom: 51px;
        width: 218px;
        height: 48px;
    }
    .agreement-text {
        font-size: 20px;
        line-height: 23px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}