/* Слайдер */

.slick-slider {}


/* Слайдер запущен */

.slick-slider.slick-initialized {}


/* Слайдер с точками */

.slick-slider.slick-dotted {}


/* Ограничивающая оболочка */

.slick-list {
    overflow: hidden;
    width: 100%;
}


/* Лента слайдов */

.slick-track {
    display: flex;
}


/* Слайд */

.slick-slide {}


/* Слайд активный (показывается) */

.slick-slide.slick-active {}


/* Слайд основной */

.slick-slide.slick-current {}


/* Слайд по центру */

.slick-slide.slick-center {}


/* Клонированный слайд */

.slick-slide.slick-cloned {}


/* Стрелка */

.slick-slider {
    position: relative;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    font-size: 0;
    border: none;
    border-radius: 50%;
    display: block;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}


/* Стрелка влево */

.slick-arrow.slick-prev {
    left: 0;
    background-image: url(../../assets/img/arrow-left.svg);
    transform: rotate(-180deg);
    background-color: #fff;
}


/* Стрелка вправо */

.slick-arrow.slick-next {
    right: 0;
    background-image: url(../../assets/img/arrow-right.svg);
    background-color: #4B4D62;
}


/* Стрелка не активная */

.slick-arrow.slick-disabled {}


/* Точки (булиты) */

.slick-dots {}

.slick-dots li {}


/* Активная точка */

.slick-dots li.slick-active {}


/* Элемент точки */

.slick-dots li button {}